#icons {
   margin:0 4px 0 0;
}

*{
    margin:0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* <------------Navbar--------------> */
.openbtn{
    display: none;
}
#side-window{
    display: none;
}
.nav-bar{
    width:100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height:85px;
    position: fixed;
    margin-top:-85px;
    z-index: 500;
}
#nav-child{
    width:85%;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-child > #logo {
    width:20%;
    cursor: pointer;
    /* border: 1px solid black; */
    /* text-align: center; */
}
#nav-child >.nav-options{
    width:60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo > img{
    width:82%;
}
.nav-options > div{
    border:none;
    width:20%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding:10px 0;
    border-radius: 32px;
    /* border: 1px solid black; */
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.nav-options > div:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}


/* <---------------------Top section---------------------> */

#top-section{
    width:85%;
    margin:85px auto 60px;
    /* border: 1px solid black; */
}
#options{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}
#options > div{
    display: flex;
    align-items: center;
    width:17%;
    margin:30px 5px;
    font-size: 16px;
    padding:12px 8px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 18px;
    font-weight: 700;
}
#options > div:hover{
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
}

#options > div>span{
    padding-left: 7px;
}
#options > div>i{
    padding-right: 10px;
}
#search-city{
    display: flex;
    width:100%;
    position: relative;
    /* border: 1px solid black; */
}
#search-city>img{
    width:100%;
    display: block;
}
#search-city>div{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width:60%;
    height:50px;
    /* height:50px; */
    z-index:1;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:15px 18px; */
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#search-city>div>span{
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#search-input{
    width:250%;
    height:45px;
    font-size: 18px;
    border: none;
    padding:0 10px;
    outline: none;
}


/* <-----------------------middle Section-----------------------> */
#middle-section,#lower-part ,#top-destination {
    width:85%;
    margin:30px auto;
}
#tour-destination , #autumn-section, #top-places{
    width:100%;
    position: relative;
    margin:20px auto;
    display: flex;
    overflow: hidden;
}
.card:nth-child(3) ,.card2:nth-child(3) ,.card3:nth-child(3) {
    margin-left: 13px;
}
.card  {
    min-width:23.2%;
    margin-right:20px;
    height: auto;
    position: relative;
    display: flex;
    height: 420px;    
    transition: .5s ease-in-out;
}
.card2 {
    min-width:23.2%;
    margin-right:22px;
    height: auto;
    position: relative;
    display: flex;
    transition: .5s ease-in-out;
    height: 350px;    
}
.card3{
    min-width:22%;
    margin-right:22px;
    height: auto;
    position: relative;
    display: flex;
    height: 350px;    
    transition: .5s ease-in-out;
}
.card-content , .card-content2 ,.card-content3 {
    position: absolute;
    left:0;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 200; 
}
.card-content>img , .card-content2>img ,.card-content3>img{
    width: 100%;
}
.card >.card-content >p{
    font-weight: 600;
}
 #top-places>div{
    min-width:23.2%;
    margin-right:20px;
    left:0;
    z-index:1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
}
.card-content > button{
    background-color: white;
    color:black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:4px 12px;
    border:2px solid black;
}
.card-content > button:hover{
    background-color: black;
    color:white;
} */

#tour-destination > div > img , #autumn-section>div>img,#top-places>div>img{
    width:100%;
    object-fit:cover;
    z-index:1;
}

 #tour-destination > span ,#autumn-section>span ,#top-places>span {
    position: absolute;
    z-index:400;
    background-color: white;
    border-radius: 50%;
    top:50%;
    font-size: 30px;
    transform: translate(-50%,-50%);
 }
 #tour-destination>span:hover ,#autumn-section>span:hover ,#top-places>span:hover{
    background-color:black;
    color:white;
    cursor: pointer;
 }
.left-arrow{
    left:30px
 }
.right-arrow{
    right:0;
 }

 /* <------------------------"middle-lower-section"------------------------> */

#middle-lower-section{
    display: flex;
    /* border:1px solid black; */
    width:85%;
    height:200px;
    margin: 30px auto;
    justify-content: space-between;
}

#middle-lower-section > div:first-child {
    width:60%;
    /* border:1px solid black; */
    background-color: #FAF1ED;
}
#middle-lower-section > div:first-child>h1 {
   margin:30px 40px 10px;
}
#middle-lower-section > div:first-child>p{
    margin:10px 40px;
}
#middle-lower-section > div:first-child>button{
    margin:20px 30px;
    font-size: 16px;
    padding:8px 14px;
    background-color: black;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

#middle-lower-section > div:first-child>button:hover{
    background-color: rgb(27, 27, 27);
} 
#middle-lower-section> div:last-child{
    width:40%;
}
#middle-lower-section> div:last-child>img{
    width:100%;
    height:200px
}


/* <--------------------explore-------------------------> */
#explore{
    width:100%;
    background-color: #FAF1ED;
}
#explore>h2{
    width:85%;
    margin:auto;
    padding:20px 0;
}
#explore>div{
    display:flex;
    width:85%;
    margin:20px auto;
    justify-content: space-between;
}
#explore>div>div{
    width:32%;
   text-align: center;
}
#explore>div>div>img{
    width:100%
}
#explore>div>div>h3{
    margin:20px auto;
    font-size: 18px;
}

#explore>div>div>a{
    margin:10px auto 20px;
    font-size:18px;
    color:black;
    display: block;
    padding:0 20px;
    font-weight: 700;
}


/* <----------------------best section--------------> */
#best-section{
  width:100%;
  height:400px;
  background-color: #004F32;
  margin:30px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#best-section > h1{
    margin:20px auto;
    font-size: 30px;
}
#best-section > button{
    margin:10px auto;
    font-size: 20px;
    padding:8px 16px;
    border-radius: 20px;
    color:white;
    border:none;
    background-color: black;
    cursor: pointer;
}
#best-section > button:hover{
    background-color: rgb(27, 27, 27);
}

/* <---------footer-----------------> */

#footer{
    display: flex;
    flex-direction: column;
    background-color:#FAF1ED ;
}
#footer-main{
    display: flex;
    width:85%;
    margin:auto;
    justify-content: space-between;
}
#footer-main>#anchor-tags{
    width:60%;
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}
#footer-main> #sites-div{
    width:30%;
    margin:25px 0;
}
#anchor-tags > div{
    display: flex;
    width:32%;
    flex-direction: column;
}
#anchor-tags>div>h4 , #anchor-tags>div>div>h4{
    margin:10px 5px 5px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
#anchor-tags>div>a ,#anchor-tags>div>div>a  {
    display: block;
    margin-top:5px;
    margin-left: 5px;
    font-weight: 700;
    color:black;
    font-size: 14px;
    letter-spacing: 0.6px;
}
#sites-div>p{
    font-family: 'PT Sans', sans-serif;
    /* color:red; */
}
#sites-div>p:last-child{
    font-size: 14px;
}

#footer-bootom{
    display: flex;
    flex-direction: column;
    width:85%;
    margin:20px auto;
    /* border:1px solid black; */
}
#footer-bottom-top{
    display: flex;
    justify-content: space-between;
}
#footer-bottom-top > div:first-child{
    display: flex;
    width:55%;
    /* border:1px solid black; */
}
#footer-bottom-top > div{
    /* border:1px solid black; */
 
}
#footer-bottom-top > div>div:last-child>p{
    font-size: 12px;
}
#footer-bottom-top > div>div:last-child>a{
    margin-top:3px;
    margin-right: 10px;
}
#footer-bottom-top > div>select{
    font-size: 18px;
    font-weight: 700;
     width:170px; 
     padding:5px 12px; 
    text-align: center;
    border:2px solid rgb(71, 71, 71);
    border-radius: 8px;
    margin:20px 10px;

}
#footer-bottom-top > div:first-child>div:first-child{
    /* border:1px solid black; */
    width:20%;
}
#footer-bottom-top > div:first-child>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-bottom-top > div:first-child>div>img{
    width:70%;  
}
#footer-bottom-bottom{
    display: flex;
    justify-content: space-between;
}
#footer-bottom-bottom>div:first-child{
    width:60%;
    /* border:1px solid black; */
}
#footer-bottom-bottom>div:last-child{
    width:20%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    
}
#footer-bottom-bottom>div:first-child>p{
    font-size: 12px;
}
#footer-bottom-bottom>div:last-child>a{
    /* color:black; */
}


@media all and (min-width:900px) and (max-width:1200px){
    #options{
        display: flex;
    }
    #options > div{
        display: block;
        text-align: center;
        width:17%;
        margin:30px 5px;
        font-size: 14px;
    }
    #options > div>span{
        padding-left: 0;
    }
    #options > div>i{
        padding-right: 0;
        display: none;
    }
    #search-input{
        width:170%;
        font-size: 16px;
    }
 /* <-----------------navbar--------------------> */
.card:nth-child(3) ,.card2:nth-child(3) ,.card3:nth-child(3) {
    margin-left: 0px;
}
.card {
    min-width:23.2%;
    margin-right:15px;
    height: 380px;    
    transition: .5s ease-in-out;
}
.card2 {
    min-width: 24%;
    height: 300px;    
    text-align: center;
    margin-right: 10px;
}
.card3{
    min-width:18%;
    margin-right:25px;
    height: 250px;    
    transition: .5s ease-in-out;
}
.card-content {
    left:0;
    z-index: 200; 
}
.card-content2 {
    left:0;
    /* width: 100%; */
    z-index: 200; 
}
.card-content3 {
    position: absolute;
    left:0;
    width: 100%;
    height:100%;
    z-index: 200; 
}
.card-content2>h4{
    margin-top: 10px;
}
.card-content3>h1{
    font-size: 20px;
    margin-top: 20px;
}

.card-content >h4{
    font-size: 16px;
}
.card-content >img{
    width:100%;
}
 #tour-destination > span ,#autumn-section>span ,#top-places>span {
    font-size: 25px;
 }
/* <-----------------------footer------------------------> */
 #footer-bottom-top > div>select{
    font-size: 14px;
     width:120px; 
     padding:5px 4px; 
    text-align: center;
 }
 #anchor-tags>div>h4 , #anchor-tags>div>div>h4{
    font-size: 14px;
  }
  #anchor-tags>div>a ,#anchor-tags>div>div>a  {
    font-size: 12px;
  }
}

@media all and (min-width:900px) and (max-width:1000px){
    .card {
        height: 350px;    
    }
    .card2 {
        height: 270px;    
    }
    .card3{
        height: 260px;    
    }
}

@media all and (min-width:767px) and (max-width:900px){
    .nav-bar{
        margin-top: -120px;
    }
    .nav-options > div{
        width:18%;
    }
    .nav-options > div:hover{
        background-color: black;
        color:white;
        cursor: pointer;
    }
    #top-section{
        margin-top: 120px;
        /* margin-bottom: 20px; */
        /* border: 1px solid black; */
    }
    #icons{
        display: none;
    }
    #options{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap:10px;
    }
    #options > div{
        text-align: center;
        width:auto;
        margin:0;
        /* font-size: 14px; */
    }
    #options > div>span{
        padding-left: 10;
    }
    #options > div>i{
        padding-right: 10;
        display: block;
    }
    #search-input{
        width:170%;
        font-size: 16px;
    }
    #search-city{
        margin:20px 0;
    }
    #header{
        margin-bottom: -20px;
    }
 /* <-----------------navbar--------------------> */
    
    .card:nth-child(3) ,.card2:nth-child(3) ,.card3:nth-child(3) {
        margin-left: 0px;
    }
    .card {
        min-width:23.2%;
        margin-right:15px;
        height: 350px;    
        transition: .5s ease-in-out;
    }
    .card2 {
        min-width: 22%;
        height: 270px;    
        text-align: center;
    }
    .card3{
        min-width:18%;
        margin-right:25px;
        height: 230px;    
        transition: .5s ease-in-out;
    }
    .card-content {
        left:0;
        z-index: 200; 
    }
    .card-content2 {
        left:0;
        /* width: 100%; */
        z-index: 200; 
    }
    .card-content3 {
        position: absolute;
        left:0;
        width: 100%;
        height:100%;
        z-index: 200; 
    }
    .card-content2>h4{
        margin-top: 10px;
    }
    .card-content3>h1{
        font-size: 18px;
        margin-top: 10px;
    }

    .card-content >h4{
        font-size: 15px;
    }
    .card-content >img{
        width:100%;
    }

    #tour-destination > span ,#autumn-section>span ,#top-places>span {
        font-size: 25px;
    }
    /* <-----------------------footer------------------------> */
    #footer-bottom-top > div>select{
        font-size: 14px;
        width:120px; 
        padding:5px 4px; 
        text-align: center;
    }
    #anchor-tags>div>h4 , #anchor-tags>div>div>h4{
        font-size: 14px;
    }
    #anchor-tags>div>a ,#anchor-tags>div>div>a  {
        font-size: 12px;
    }

}
@media all and (min-width:451px) and (max-width:766px){
    .nav-bar{
        margin-top: -120px;
    }
    #nav-child{
        width:100%;
    }
    #logo{
        display: none;
    }
    #nav-child .nav-options{
        display: flex;
        justify-content: space-evenly;
        width:50%;
    }
    .nav-options > div {
        width:20%;
        display: flex;
        text-align: end;
        justify-content: space-evenly;
        align-items: flex-end;
        border:none;
    }
    .nav-options > div:hover{
        background-color: white;
        color:black;
    }
    .nav-options > div:nth-child(1){
        display: none;
    }
    .nav-options > div:nth-child(2){
        display: none;
    }
    .nav-options > div:nth-child(3){
        display: none;
    }
    .nav-options > div >span{
        width:0;
        display:none;
    }
    .nav-options > div > i{
        display: none;
    }
    
    #sign-in >span{
        display: block;
        width:100%;
        font-size:15px;
    }
    .nav-options > div > .basket {
        width:40%;
        display: block;
        font-size:28px;
    }
    .openbtn{
        display: block;
        margin-left:20px;
        border:none;
        font-size: 25px;
        background-color: white;
    }
    /* .nav-options > div:hover{
        background-color: black;
        color:white;
        cursor: pointer;  
    } */
    #top-section{
        margin-top: 120px;
        /* margin-bottom: 20px; */
        /* border: 1px solid black; */
    }
    /* #icons{
        display: none;
    } */
    #options{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap:10px;
    }
    #options > div{
        text-align: center;
        width:auto;
        margin:0;
        font-size: 14px;
    }
    #options > div>span{
        padding-left: 0;
        margin:auto;
    }
    #options > div>i{
        padding-right: 0;
        display: none;
    }
    #search-city{
        display: flex;
        width:100%;
        position: relative;
        margin-top: 20px;
    }
    #search-city>img{
        width:100%;
        display: block;
    }

    #search-city>div{
        position: absolute;
        transform: translate(-50%,-50%);
        top:50%;
        left:50%;
        width:60%;
        height:25px;
        height:50px;
        z-index:1;
        border-radius: 20px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0px 0px;
        background-color: white;
    }
    #search-city>div>span{
        font-size: 20px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    #search-input{
        width:95%;
        height:25px;
        font-size: 16px;
        padding:0 10px;
        outline: none;
    }
 /* <-----------------navbar--------------------> */
    .card:nth-child(3) ,.card2:nth-child(3) ,.card3:nth-child(3) {
        margin-left: auto;
    }
    #tour-destination , #autumn-section, #top-places{
        overflow: scroll;
    }
    #lower-part ,#top-destination {
        width:85%;
        margin: 30px auto;
        overflow-x: hidden;
        text-align: center;
        overflow-x: scroll;
    }
    #middle-section{
        width:85%;
        margin:-40px auto;
        margin-top: -25px;
    }
    #middle-lower-section{
        display: flex;
        flex-direction: column;
        width:90%;
        height: auto;
        margin: 30px auto;
        align-items:center;
        justify-content: space-between;
        background-color: #FAF1ED;
    }
    #middle-lower-section>div:first-child{
        width:100%;
        /* border: 1px solid black; */
    }
    #middle-lower-section>div:last-child{
        width:80%;
        background-color: #FAF1ED;
    }
   
    .card {
        min-width:48%;
        margin: 5px 1.1%;
        height: 450px;    
        transition: .5s ease-in-out;
        /* border:1px solid black; */
    }
    .card2 {
        min-width: 48%;
        height: 370px;  
        margin: 0  1.05%;  
        /* border: 1px solid black; */
    }
    #top-places>.card3{
        min-width:48%;
        margin: 0  1.1%; 
        height: 350px;   
        display: block;
        transition: .5s ease-in-out;
        /* border: 1px solid black; */
    }
    .card-content {
        left:0;
        height: auto;
        z-index: 200; 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .card-content2 {
        left:0;
        /* width: 100%; */
        z-index: 200; 
    }
    .card-content3 {
        position: absolute;
        left:0;
        width: 100%;
        height:100%;
        z-index: 200; 
    }
    .card-content2>h4{
        margin-top: 0;
    }
    .card-content2>p{
        margin-bottom: 10px;
    }
    .card-content3>h1{
        font-size: 18px;
        margin: 10px 0;
    }

    .card-content >h4{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .card-content >p{
        font-size: 15px;
        margin:10px auto;
    }
    .card-content >img{
        width:100%;
        margin-bottom: 10px;
    }
    #explore>div{
        display: flex;
        flex-direction: column;
    }
    #explore >div>div {
       width:100%;
       margin:10px auto;
       /* border: 1px solid black; */
    }
    #best-section>h1{
       font-size: 20px;
    }
    #best-section>button{
        font-size: 14px;
     }
    
    #tour-destination > span ,#autumn-section>span ,#top-places>span {
        display: none;
    }
    /* <-----------------------footer------------------------> */
    #footer-bootom{
        width:90%;
        margin:auto
    }
    #footer-bottom-top > div>select{
        font-size: 12px;
        width: auto; 
        padding:5px 4px; 
        text-align: center;
    }
    #footer-bottom-top > div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #footer-main{
        text-align: center;
    }
    #footer-main>#anchor-tags{
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:20px auto;
    }

    #anchor-tags>div{
      width:100%;
      /* margin:auto; */
    }
    #anchor-tags>div>h4 , #anchor-tags>div>div>h4{
        font-size: 16px;
    }
    #anchor-tags>div>a ,#anchor-tags>div>div>a  {
       display: none;
    }
    #sites-div{
        display: none;
    }
    #footer-bottom-top>div>div>img{
        display: none;
    }
    #footer-bottom-top>div:first-child{
        width:60%;
        /* border:1px solid black; */
    }
    #footer-bottom-top>div>div{
        display:flex;
        flex-direction: column;
        padding-left:10px;
    }
    #footer-bottom-top>div>div>a{
        font-size: 10px;
    }
    #footer-bottom-bottom {
        display: flex;
        flex-direction: column-reverse;
    }
    #footer-bottom-bottom>div:last-child{
        width:90%;
        margin:10px auto;
    }
    #footer-bottom-bottom>div:first-child{
        width:90%;
        margin:10px auto;
    }
    #footer-main{
        display: flex;
        width:100%;
        margin:auto;
        justify-content: space-between;
    }



    /* <---experiment---> */
    #side-window {
        height: 700px;
        width: 0; 
        display: block;
        position: fixed;
        z-index: 500; 
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden; 
        padding-top: 70px; 
        transition: 0.5s; 
      }
      
      #side-window a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(207, 204, 204);
        display: flex;
        transition: 0.3s;
      }
      
      #side-window a:hover {
        color: white;
      }
      
      #side-window .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .openbtn {
        font-size: 16px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 8px 12px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
}

@media all and (min-width:450px) and (max-width:560px){
    .card {
        height: 390px;    
    }
    .card2 {
        height: 310px;  
    }
    #top-places>.card3{
        height: 280px;   
    }
}
@media all and (min-width:320px) and (max-width:450px){
    .nav-bar{
        margin-top: -120px;
    }
    #nav-child{
        width:100%;
    }
    #logo{
        display: none;
    }
    #nav-child .nav-options{
        display: flex;
        justify-content: space-evenly;
        width:50%;
        /* border: 1px solid black; */
        /* background-color: red; */
    }
    .nav-options > div {
        width:30%;
        display: flex;
        text-align: end;
        justify-content: space-evenly;
        align-items: flex-end;
        border:none;
        /* border: 1px solid black; */
    }
    .nav-options > div:hover{
        background-color: white;
        color:black;
    }
    .nav-options > div:nth-child(1){
        display: none;
    }
    .nav-options > div:nth-child(2){
        display: none;
    }
    .nav-options > div:nth-child(3){
        display: none;
    }
    .nav-options > div >span{
        width:0;
        display:none;
    }
    .nav-options > div > i{
        display: none;
    }
  
    #sign-in >span{
        display: block;
        /* border: none; */
        /* padding: 0; */
        width:100%;
        font-size:15px;
    }
    .nav-options > div > .basket ,.nav-options > div > #basket {
        width:40%;
        display: block;
        /* width:100%; */
        font-size:24px;
    }
    .openbtn{
        display: block;
        margin-left:20px;
        border:none;
        font-size: 25px;
        background-color: white;
    }
    #top-section{
        margin-top: 120px;
    }
    #options{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap:10px;
    }
    #options > div{
        text-align: center;
        width:auto;
        margin:0;
        font-size: 14px;
    }
    #options > div>span{
        padding-left: 0;
        margin:auto;
    }
    #options > div>i{
        padding-right: 0;
        display: none;
    }
    #search-city{
        display: flex;
        width:100%;
        position: relative;
        margin-top: 20px;
    }
    #search-city>img{
        width:100%;
        display: block;
    }

    #search-city>div{
        position: absolute;
        transform: translate(-50%,-50%);
        top:50%;
        left:50%;
        width:60%;
        height:25px;
        height:50px;
        z-index:1;
        border-radius: 20px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0px 0px;
        background-color: white;
    }
    #search-city>div>span{
        font-size: 20px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    #search-input{
        width:95%;
        height:25px;
        font-size: 16px;
        padding:0 10px;
        outline: none;
    }
 /* <-----------------navbar--------------------> */
    .card:nth-child(3) ,.card2:nth-child(3) ,.card3:nth-child(3) {
        margin-left: auto;
    }
    #tour-destination , #autumn-section, #top-places{
        overflow: scroll;
    }
    #lower-part ,#top-destination {
        width:70%;
        margin: 30px auto;
        /* overflow: unset; */
    }
    #middle-section{
        width:70%;
        margin:-40px auto;
        margin-top: -25px;
    }
    #middle-lower-section{
        display: flex;
        flex-direction: column;
        width:90%;
        height: auto;
        margin: 30px auto;
        align-items:center;
        justify-content: space-between;
        background-color: #FAF1ED;
        /* border: 1px solid black; */
    }
    #middle-lower-section>div:first-child{
        width:100%;
        /* border: 1px solid black; */
    }
    #middle-lower-section>div:last-child{
        width:80%;
        background-color: #FAF1ED;
    }
   
    .card {
        min-width:100%;
        margin: 5px 7px;
        height: 480px;    
        transition: .5s ease-in-out;
        /* border:1px solid black; */
    }
    .card2 {
        min-width: 100%;
        height: 370px;  
        margin: 0 7px;
    }
    #top-places>.card3{
        min-width:100%;
        margin: 0 5px;
        height: 350px;   
        display: block;
        transition: .5s ease-in-out;
    }
    .card-content {
        left:0;
        height: auto;
        z-index: 200; 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .card-content2 {
        left:0;
        /* width: 100%; */
        z-index: 200; 
    }
    .card-content3 {
        position: absolute;
        left:0;
        width: 100%;
        height:100%;
        z-index: 200; 
    }
    .card-content2>h4{
        margin-top: 0;
    }
    .card-content2>p{
        margin-bottom: 10px;
    }
    .card-content3>h1{
        font-size: 18px;
        margin: 10px 0;
    }
    .card-content>button{
        padding:5px 12px;
        
    }
    .card-content >h4{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .card-content >p{
        margin:10px auto;
    }
    .card-content >img{
        width:100%;
        margin-bottom: 10px;
    }
    #explore>div{
        display: flex;
        flex-direction: column;
    }
    #explore >div>div {
       width:100%;
       margin:10px auto;
       /* border: 1px solid black; */
    }
    #best-section>h1{
       font-size: 20px;
    }
    #best-section>button{
        font-size: 14px;
     }
    
    #tour-destination > span ,#autumn-section>span ,#top-places>span {
        display: none;
    }
    /* <-----------------------footer------------------------> */
    #footer-bootom{
        width:90%;
        margin:auto
    }
    #footer-bottom-top > div>select{
        font-size: 12px;
        width: auto; 
        padding:5px 4px; 
        text-align: center;
    }
    #footer-bottom-top > div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #footer-main{
        text-align: center;
    }
    #footer-main>#anchor-tags{
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:20px auto;
    }

    #anchor-tags>div{
      width:100%;
      /* margin:auto; */
    }
    #anchor-tags>div>h4 , #anchor-tags>div>div>h4{
        font-size: 16px;
    }
    #anchor-tags>div>a ,#anchor-tags>div>div>a  {
       display: none;
    }
    #sites-div{
        display: none;
    }
    #footer-bottom-top>div>div>img{
        display: none;
    }
    #footer-bottom-top>div:first-child{
        width:60%;
        /* border:1px solid black; */
    }
    #footer-bottom-top>div>div{
        display:flex;
        flex-direction: column;
        padding-left:10px;
    }
    #footer-bottom-top>div>div>a{
        font-size: 10px;
    }
    #footer-bottom-bottom {
        display: flex;
        flex-direction: column-reverse;
    }
    #footer-bottom-bottom>div:last-child{
        width:90%;
        margin:10px auto;
    }
    #footer-bottom-bottom>div:first-child{
        width:90%;
        margin:10px auto;
    }
    #footer-main{
        display: flex;
        width:100%;
        margin:auto;
        justify-content: space-between;
    }



    /* <---experiment---> */
    #side-window {
        height: 700px;
        width: 0; 
        display: block;
        position: fixed;
        z-index: 500; 
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden; 
        padding-top: 70px; 
        transition: 0.5s; 
      }
      
      #side-window a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(207, 204, 204);
        display: flex;
        transition: 0.3s;
      }
      
      #side-window a:hover {
        color: white;
      }
      
      #side-window .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .openbtn {
        font-size: 16px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 8px 12px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
}
