#icons {
    margin:0 4px 0 0;
 }
 
 *{
     margin:0;
     font-family: 'PT Sans', sans-serif;
     box-sizing: border-box;
 }
 body{
     /* overflow-x: hidden; */
 }
 /* <------------Navbar--------------> */
 .nav-bar{
     width:100%;
     background-color: white;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
     height:85px;
     /* position: fixed; */
     /* margin-top:-85px; */
     z-index: 5;
 }
 #nav-child{
     width:85%;
     height: 100%;
     margin:auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 #nav-child > #logo {
     width:20%;
     /* border: 1px solid black; */
     /* text-align: center; */
 }
 #nav-child >.nav-options{
     width:55%;
     /* border: 1px solid black; */
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 #logo > img{
     width:82%;
 }
 .nav-options > div{
     border:none;
     width:16%;
     background-color: white;
     display: flex;
     justify-content: center;
     padding:10px 0;
     border-radius: 32px;
     /* border: 1px solid black; */
     align-items: center;
     font-size: 16px;
     font-weight: 700;
 }
 .nav-options > div:hover{
     background-color: black;
     color:white;
     cursor: pointer;
 }